# ides
*.bak
*~
*.swp
*.swo

# silex
/src/cache

# composer
/vendor

# bower
# /src/public/vendor/*/* # en attendant que l'installation de Bower soit plus facile
!/src/public/vendor/unsemantic/bower.json

# assets
*.mp3

# dist
/src/public/.htaccess
/src/config.json

# vagrant
/.vagrant
/src/data/emission/*/tracklist.txt
/etc/trivoallan/build.properties
