{% extends "layout.default.twig.html" %}

{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }}
</a>
{% endblock %}

{% block title %}Artists ({{ artists|length }}){% endblock %}

{% block content %}
<div class="grid-100 tablet-grid-100 mobile-grid-100">
	<div class="bloc center">
		<div class="infos">
			<span class="big"> 
				{{ artists|length }} artistes <span class="diamond"> &#11045; </span>
				<a href="{{ url('emissions') }}">{{ shows|length }} émissions</a> <span class="diamond"> &#11045; </span> 
				{{ djs|length }} curateurs
			</span>
		</div>
	</div>
</div>
<div class="grid-100 tablet-grid-100 mobile-grid-100">
	{% for letter, artists in artistsGroupedByAlpha %}    
		<h2 class="letter">{{ letter }}</h2>
		<div class="showContainer">
			<ul>
	        {% for artist in artists %}
	             <li class="artist" style="padding-left:5px">
	                {{ artist }}
		            {% for show in showsGroupedByArtist[artist] -%}
	                    <strong>
		                    <a href="{{ url('emission', {'type':show.typeSlug, 'id':show.id}) }}?artist={{ artist|url_encode }}" title="{{ show.type }} {{ show.number }} : {{ show.authors }} - {{ show.title }} ({{ show.releasedAt|date('d/m/Y') }})" class="{{show.typeSlug}}">
		                    	<span>{{ show.number }}</span>
		                    </a>
	                    </strong>
		                {%- if not loop.last -%}{% endif -%}
		            {%- endfor %}
	            </li>
	        {% endfor %}
			</ul>	
		</div>	
    {% endfor %}
</div>
{% endblock %}
