{% extends "layout.default.twig.html" %}

{% block footer %}
	{% if app.debug %}
	<p>
	  <strong>Debug :</strong>
	  <a href="{{ url('deletecache') }}">Delete cache</a>
	</p>
	{% endif %}
{% endblock %}

{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }}
</a>
{% endblock %}

{% block title %}Curateurs ({{ showsGroupedByDj|length }}){% endblock %}

{% block content %}
<div class="grid-100 tablet-grid-100 mobile-grid-100">
	<div class="bloc center">
		<div class="infos">
			<span class="big"> 
				<a href="{{ url('emissions') }}" title="Voir la liste des {{ shows|length }} émissions">{{ shows|length }} émissions</a><span class="diamond"> &#11045; </span> 
				<a href="{{ url('artists') }}" title="Voir la liste des {{ artists|length }} artistes">{{ artists|length }} artistes </a>
				<span class="diamond"> &#11045; </span> {{ showsGroupedByDj|length }} curateurs<span class="diamond"> &#11045; </span> 
				{{ duration }} heures<span class="diamond"> &#11045; </span> 
				<a href="{{ url('flyers') }}" title="Voir les flyers">45 flyers</a><span class="diamond"> &#11045; </span> 
				<a href="{{ url('years') }}" title="Voir les émissions par année">{{ years }} années</a>

			</span>
			<a href="{{ url('random') }}" title="Écouter une émission aléatoire" style="display: inline-block;float:right;padding:0px;margin:0;font-size:1.5em">
				<i class="icon-shuffle" style="color:#{% if app.request.cookies.get('night') %}959719{% else %}FCFE04{% endif %}"></i>
			</a>
		</div>
	</div>
</div>
<div class="grid-100 tablet-grid-100 mobile-grid-100">
	{% for letter, djs in djsGroupedByAlpha %}    
		<h2 class="letter">{{ letter }}</h2> 
		<div class="showContainer">
			<ul>
	        {% for dj in djs %}
	             <li class="artist" style="padding-left:5px">
	                {{ dj }}	
	                {% for show in showsGroupedByDj[dj] -%}
	                    <strong>
		                    <a href="{{ url('emission', {'type':show.typeSlug, 'id':show.id}) }}?dj={{ dj|url_encode }}" title="{{ show.type }} {{ show.number }} : {{ show.authors }} - {{ show.title }} ({{ show.releasedAt|date('d/m/Y') }})" class="{{show.typeSlug}}">
		                    	<span>{{ show.number }}</span>
		                    </a>
	                    </strong>
		                {%- if not loop.last -%}{% endif -%}
		            {%- endfor %}		     
	            </li>
	        {% endfor %}
			</ul>	
		</div>	
    {% endfor %}
</div>
{% endblock %}
