<style>
@import url(http://fonts.googleapis.com/css?family=Metrophobic);
.ouiedire {background-color:#E6FAFF!important; border: 1px solid #AAA; padding: 5px;background-image: url(http://www.ouiedire.net/assets/img/pattern.gif);background-repeat: repeat; background-attachment: fixed; font-family: 'Metrophobic', sans-serif;
 width: 400px;}
.ouiedire ol { list-style-type: none; padding-left: 0; margin-left: 0; }
a.mejs-smartplaylist-time { font-family:"Helvetica"; font-size: 1.1em;font-weight: lighter; color: #333; }
a.mejs-smartplaylist-time:after { content:"] "; }
a.mejs-smartplaylist-time:before { content:"["; }

a.mejs-smartplaylist-time.mejs-smartplaylist-current { background-color: #0cf; }
ol.mejs-smartplaylist-playlist { list-style-type: none;font-size:0.8em; }
ol.mejs-smartplaylist-playlist li span{ font-weight: bold;}
h1 {font-size:13px;  text-transform: uppercase;background-color: #000;color:#FFF;padding: 4px;}
h1 a {color: #FFF;text-decoration: none;}
audio {width: 400px;top: -5px;position: relative;}
</style>
<div class="ouiedire">

  <h1><a href="{{ url('emission', {type: show.typeSlug, id: show.id}) }}" target="_blank">{{ show.type }} #{{ show.number }} {{ show.title }}, par {{ show.authors }}</a></h1>
  <audio controls="controls">
    <source src="{{ show.urlDownload }}" type="audio/mp3" />
    <!-- Flash fallback for non-HTML5 browsers without JavaScript -->
    <object width="320" height="240" type="application/x-shockwave-flash" data="{{ app.request.getBasePath() }}/vendor/mediaelement/build/flashmediaelement.swf">
        <param name="movie" value="{{ app.request.getBasePath() }}/vendor/mediaelement/build/flashmediaelement.swf" />
        <param name="flashvars" value="controls=true&file={{ show.urlDownload }}" />
    </object>
  </audio>
  {{ show.playlist|raw }}
      <img src="http://www.ouiedire.net/assets/img/logo.png" alt="Ouïedire" height="58px" width="200px">

</div>