{% extends "layout.default.twig.html" %}

{% block title %}Émission #{{ show.number }} : {{ show.title }}, par {{ show.authors }}{% endblock %}

{% block content %}

<div class="grid-100 mobile-grid-100">
	<h1>
		<a href="{{ url('emission', {id:show.id}) }}">
			{{ show.number }} / {{ show.authors }} - {{ show.title }} (TODO : date)
		</a>
	</h1>
</div>
<div class="grid-50 mobile-grid-100">

		<audio controls="controls">
	  <source src="{{ show.urlDownload }}" type="audio/mp3" />
	</audio>
	 	<p class="donwload"><a href="">télécharger l'émission</a></p>


	
{{ show.playlist|raw }}

	{% if show.urlDownload %}


	{% endif %}
</div><!-- grid-50 -->

<div class="grid-50 mobile-grid-100 description">

	<p><img src="{{ show.urlCover }}" alt="Artwork"></p>
	{{ show.description|raw }}

</div><!-- grid-50 -->
{% endblock %}
