{% extends "layout.default.twig.html" %}

{% block title %}Émission #{{ show.number }} : {{ show.title }}, par {{ show.authors }}{% endblock %}

{% block latest %}
<a href="{{ path('emission', {id:latest.id, type:latest.typeSlug}) }}">
  {{ latest.type }} {{ latest.number }} : {{ latest.authors }} - {{ latest.title }} 
</a>
{% endblock %}

{% block opengraph %}
<meta property="og:title" content="Ouïedire - Émission #{{ show.number }} : {{ show.title }}, par {{ show.authors }}" />
<meta property="og:type" content="music.playlist" />
<meta property="og:description" content="{{ show.description|striptags }}" />
<meta property="og:audio:url" content="{{ show.urlDownload }}" />
<meta property="og:url" content="{{ app.request.getScheme }}://{{ app.request.getHost() }}{{ app.request.getRequestUri() }}" />
<meta property="og:image" content="{{ show.covers.0 }}" />
{% endblock %}

{% block content %}

<div class="grid-100 mobile-grid-100">
	<section class="nav">
<p>
{% if (previous) %}
<a class="previous" href="{{ url('emission', {id:previous.id, type:previous.typeSlug}) }}" title="#{{ previous.number }} : {{ previous.title }}, par {{ previous.authors }}">previous</a>{% endif %}
{% if (next) %}
<a class="next" href="{{ url('emission', {id:next.id, type:next.typeSlug}) }}" title="#{{ next.number }} : {{ next.title }}, par {{ next.authors }}">next</a>
{% endif %}
</p>
</section>
	<h1>
		<a href="{{ url('emission', {id:show.id, type:show.typeSlug}) }}">
			{{ show.typeSlug }}  {{ show.number }} / {{ show.authors }} - {{ show.title }} ({{ show.releasedAt|date('d/m/Y') }})
		</a>
	</h1>

</div>
<div class="grid-50 mobile-grid-100">
	<audio controls="controls">
	  <source src="{{ show.urlDownload }}" type="audio/mp3" />
    <!-- Flash fallback for non-HTML5 browsers without JavaScript -->
    <object width="320" height="240" type="application/x-shockwave-flash" data="{{ app.request.getBasePath() }}/vendor/mediaelement/build/flashmediaelement.swf">
        <param name="movie" value="{{ app.request.getBasePath() }}/vendor/mediaelement/build/flashmediaelement.swf" />
        <param name="flashvars" value="controls=true&file={{ show.urlDownload }}" />
    </object>
	</audio>
	<p class="download">
		<a href="{{ show.urlDownload }}">TÉLÉCHARGER</a>
		<a href="#" 
		  onclick="
		    window.open(
		      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
		      'facebook-share-dialog', 
		      'width=626,height=436'); 
		    return false;">
		  PARTAGER
		</a>
	</p>

{{ show.playlist|raw }}
	
</div><!-- grid-50 -->

<div class="grid-50 mobile-grid-100 description">

	<p>
{% for urlCover in show.covers %}
		<img src="{{ urlCover }}" /><br />
{% endfor %}
	</p>
	{{ show.description|raw }}

</div><!-- grid-50 -->

<script>
window.play = false;
{%- if player.play -%}
window.play = true;
{%- endif -%}
{%- if player.seek -%}
window.seek = {{ player.seek }};
window.play = true;
{% else %}
window.seek = false;
{% endif %}
$('audio').mediaelementplayer(
	{
		success: function(mediaElement) {
			// Autoplay
			if (window.play) {
				mediaElement.play();
			}

			// Autoplay previous mix
			mediaElement.addEventListener('ended', function() {
				if ($('a.previous').length) {
					window.location = $('a.previous').attr('href') + '?play';
				}
			});

			// Used when seeking asked and player has not started yet
			mediaElement.addEventListener('playing', function() {
				if (window.seek) {
					mediaElement.setCurrentTime(window.seek);
				}
			});

			// Update current track
			mediaElement.addEventListener('timeupdate', function() {
				$('a.time').each(function(i) {
					var times = $('a.time');
					var timeMin = parseInt($(this).data('seconds'));
					var timeMax = $(times[i + 1]).data('seconds');
					if (timeMax == undefined) {
						timeMax = 666666666666666; // L'infini, en moins glorieux
					}
					var timeCurrent = mediaElement.currentTime;
					if (timeCurrent > timeMin && timeCurrent < timeMax) {
						$('a.time').removeClass('current');
						$(this).addClass('current');
					}
				});
			});
		}
	}
);

$(document).ready(function() {

	// Analyze playlist timestamps
	$('a.time').each(function() {
		// Convert to seconds
		var $this = $(this);
		var seconds = 0;
		var parts = this.text.match(/(\d{2}):(\d{2}):(\d{2})/);
		seconds += parseInt(parts[1]) * 60 * 60;
		seconds += parseInt(parts[2]) * 60;
		seconds += parseInt(parts[3]);
		$this.attr('href', '?seek=' + seconds);
		$this.data('seconds', seconds);
		if ($this.attr('title') == undefined) {
			$this.attr('title', 'Écouter ce morceau')
		}
	});

	// Clicking on a timestamps seeks to the appropriate time in mix
	$('a.time').on('click', function() {
		$('a.time').removeClass('current');
		$(this).addClass('current');
		var player = mejs.players.mep_0;
		if (player.media.paused) {
			window.seek = $(this).data('seconds');
			mejs.players.mep_0.play();			
		} else {
			player.setCurrentTime($(this).data('seconds'));
		}

		return false;
	});
});
</script>

{% endblock %}
