{% extends "layout.default.twig.html" %}

{% block title %}Émission #{{ show.number }} : {{ show.title }}, par {{ show.authors }}{% endblock %}

{% block latest %}
<a href="{{ path('emission', {id:latest.id, type:latest.typeSlug}) }}">
  {{ latest.type }} {{ latest.number }} : {{ latest.authors }} - {{ latest.title }} 
</a>
{% endblock %}

{% block opengraph %}
<meta property="og:title" content="Ouïedire - Émission #{{ show.number }} : {{ show.title }}, par {{ show.authors }}" />
<meta property="og:type" content="music.playlist" />
<meta property="og:description" content="{{ show.description|striptags }}" />
<meta property="og:audio:url" content="{{ show.urlDownload }}" />
<meta property="og:url" content="{{ app.request.getScheme }}://{{ app.request.getHost() }}{{ app.request.getRequestUri() }}" />
<meta property="og:image" content="{{ show.covers.0 }}" />
{% endblock %}

{% block content %}

<div class="grid-100 mobile-grid-100">
	<section class="nav">
<p>{% if (previous) %}

<a href="{{ url('emission', {id:previous.id, type:previous.typeSlug}) }}" title="#{{ previous.number }} : {{ previous.title }}, par {{ previous.authors }}">previous</a>{% endif %}
{% if (next) %}
<a href="{{ url('emission', {id:next.id, type:next.typeSlug}) }}" title="#{{ next.number }} : {{ next.title }}, par {{ next.authors }}">next</a>
{% endif %}
</p>
</section>
	<h1>
		<a href="{{ url('emission', {id:show.id, type:show.typeSlug}) }}">
			{{ show.typeSlug }}  {{ show.number }} / {{ show.authors }} - {{ show.title }} ({{ show.releasedAt|date('d/m/Y') }})
		</a>
	</h1>

</div>
<div class="grid-50 mobile-grid-100">
	<audio controls="controls">
	  <source src="{{ show.urlDownload }}" type="audio/mp3" />
	</audio>
	<p class="download"><a href="{{ show.urlDownload }}">MP3</a></p>

{{ show.playlist|raw }}
	
</div><!-- grid-50 -->

<div class="grid-50 mobile-grid-100 description">

	<p>
{% for urlCover in show.covers %}
		<img src="{{ urlCover }}" /><br />
{% endfor %}
	</p>
	{{ show.description|raw }}

</div><!-- grid-50 -->
{% endblock %}
