{% extends "layout.default.twig.html" %}

{% block title %}Les émissions{% endblock %}


{% block content %}
		<h3>Toutes les émissions : </h3>

	<div class="grid-50 mobile-grid-100">
		<ul>
{% for show in shows %}
	{% if loop.index0 == (loop.length / 2)|number_format %}
		</ul>
	</div><!-- grid-50 -->
	<div class="grid-50 mobile-grid-100">
		<ul>
	{% endif %}
  		<li>
  			<a href="{{ path('emission', {id:show.id, type:show.typeSlug}) }}">
  				{{ show.type }} {{ show.number }} : {{ show.authors }} - {{ show.title }}
  			</a>
  		</li>
{% endfor %}
		</ul>
	</div><!-- grid-50 -->
{% endblock %}