{% extends "layout.default.twig.html" %}

{% block title %}Les émissions{% endblock %}

{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }}
</a>
{% endblock %}

{% block showsfilters %}
 <div class="legendinfo">
 	<div class="emissions_legend">Les émissions :</div>
	<div class="all_legend" onclick="filterSelection('all')">TOUT !</div> 
	<div class="ailleurs_legend" onclick="filterSelection('ailleurs')"><strong>Ailleurs</strong> invité</div> 
	<div class="bagage_legend" onclick="filterSelection('bagage')"><strong>Bagage</strong> maison de disques</div> 
	<div class="bureau_legend" onclick="filterSelection('bureau')"><strong>Bureau</strong> réunions incongrues</div> 
	<div class="ouiedire_legend" onclick="filterSelection('ouiedire')"><strong>Ouïedire</strong> fait maison</div>
</div>
{% endblock %}

{% block content %}
<!-- <h5><a href="{{ path('emission', {id:randomShow.id, type:randomShow.typeSlug}) }}">Écouter de manière aléatoire</a></h5><hr>-->
<div class="grid-100">
	<div class="bloc">
		<p class="infos">
			<a href="{{ url('artists', {artist:artist}) }}"> {{ artists|length }} artistes </a>  ◈
			{{ shows|length }}  émissions  ◈ {{ djs|length }} curateurs ◈	<a href="#infosfooter">informations</a> ◈ 
			<a href="http://www.canalb.fr/gabuzomix/podcasts">Canal B</a> ◈
			<a href="http://www.choq.ca/emissions-details/ouiedire/">Choq CA</a> ◈
			<a href="https://www.facebook.com/cjucfm/?ref=br_rs">Cjuc 92.5 FM</a> ◈
			<a href="http://www.radioeponyme.com/emissions/ouie-dire/">Eponyme</a> ◈
			<a href="https://p-node.org/">π-node</a> ◈
			<a href="http://radio-octopus.org">Radio Octopus</a> ◈
			<a href="http://lastation.paris/station.station/ouiedire/">Station Station</a>
		</p>
	</div>
</div>
<div class="grid-100 mobile-grid-100">
	<div class="allshows">
		<ul>
		{% for show in shows %}
			{% if loop.index0 == (loop.length / 1)|number_format %}{% endif %}
			<li class="emission {{ show.typeSlug }}">
				<a href="{{ path('emission', {id:show.id, type:show.typeSlug}) }}" title="{{ show.authors }} - {{ show.title }} ({{ show.releasedAt|date('d/m/Y') }})">
					<span class="title_to_cut"><strong>{{ show.number }}</strong> {{ show.authors }} - {{ show.title }}</span>
				</a>
			</li>
		{% endfor %}
		</ul>	
	</div>	
</div>
{% endblock %}
