{% extends "layout.default.twig.html" %}

{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }}
</a>
{% endblock %}

{% block title %}Flyers{% endblock %}
{% block responsive %} {% endblock %}

{% block content %}
<div class="grid-100 tablet-grid-100 mobile-grid-100">
	<div class="cartouche">     
	    <h2 class="showNumber ailleurs">Flyers</h2>
	</div> 
</div> 
<div class="grid-100 mobile-grid-100">
	<div class="descriptiontext" style="margin-top:0;">
		<!-- <p>Illustrations par : 
		<a href="http://www.corbenstudios.com/">Richard Corben</a> (16/01/18 au 15/02/18) - 
		<a href="http://goupilacneique.tumblr.com/">Goupil Acnéique</a> (2016/09) - 
		<a href="https://www.flickr.com/photos/okchickadee/with/6115272028/">Angie Wang</a> (2016/06) - 
		<a href="http://blog.crcr.fr">CRCR</a> (2016/05) - 
		<a href="http://blog.crcr.fr">blog.crcr.fr</a> (2016/04) - 
		<a href="https://fr.wikipedia.org/wiki/Makoto_Aida">Makoto Aida</a> (2016/01) - 
		<a href="https://fr.wikipedia.org/wiki/Charles_Burns">Charle Burns</a> (2015/12) - 
		<a href="http://www.yueminjun.com.cn/en/">Yue Minjun</a> (2015/10 & 2015/11) - 
		<a href="http://www.ukiyoe-gallery.com/shimura.htm">Shimura Tatsumi</a> (2015/07) - 
		<a href="http://mestrefungo.com">Mestre Funfo</a> (2015/06) - 
		<a href="http://jonnynegron.tumblr.com/">Jonny Negron</a> (2015/05) - 
		<a href="http://www.corbenstudios.com/">Richard Corben</a> (2015/04) - 
		<a href="http://iam.stuntkid.com/">Stuntkid</a> (2015/03) - 
		<a href="http://fr.wikipedia.org/wiki/Tanino_Liberatore">Liberatore</a> (2015/01 & 2015/02)
		</p> -->
	</div>
	<div class="flyersContainer">
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_01_2018.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_01_2018.jpg" alt="Ouïedire" title="Janvier 2018 - Richard Corben" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_vacances2016.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_vacances2016.jpg" alt="Ouïedire" title="Vacances 2016 - Goupil Acnéique" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_juin2016_1.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_juin2016_1.jpg" alt="Ouïedire" title="Juin 2016 - Angie Wang" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mai_2016.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mai_2016.jpg" alt="Ouïedire" title="Mai 2016 - CRCR" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_avril2016.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_avril2016.jpg" alt="Ouïedire" title="Avril 2016 - blog.crcr.fr" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mars2016.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mars2016.jpg" alt="Ouïedire" title="Mars 2016" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_fevier2016.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_fevier2016.jpg" alt="Ouïedire" title="Février 2016" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_janvier2016.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_janvier2016.jpg" alt="Ouïedire" title="Janvier 2016 - Makoto Aida" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_decembre.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_decembre.jpg" alt="Ouïedire" title="Décembre 2015 - Charle Burns" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_novembre.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_novembre.jpg" alt="Ouïedire" title="Novembre 2015 - Yue Minjun" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_octobre.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_octobre.jpg" alt="Ouïedire" title="Octobre 2015 - Yue Minjun" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_juillet.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_juillet.jpg" alt="Ouïedire" title="Juillet 2015 - Shimura Tatsumi" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_juin.gif" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_juin.gif" alt="Ouïedire" title="Juin 2015 - Mestre Funfo" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mai.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mai.jpg" alt="Ouïedire" title="Mai 2015 - Jonny Negron" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_avril.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_avril.jpg" alt="Ouïedire" title="Avril 2015 - Richard Corben" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mars.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mars.jpg" alt="Ouïedire" title="Mars 2015 - Stuntkid" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_fevrier.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_fevrier.jpg" alt="Ouïedire" title="Février 2015 - Liberatore" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_janvier.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_janvier.jpg" alt="Ouïedire" title="" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_janvier2019.gif" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_janvier2019.gif" alt="Ouïedire" title="" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/a.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/a.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/b.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/b.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/c.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/c.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/d.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/d.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/e.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/e.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/f.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/f.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/g.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/g.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/h.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/h.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque & Monna" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/u.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/u.jpg" alt="Ouïedire" title="Illustration : Goupil & Elise
				" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/i.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/i.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque & Elise" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/j.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/j.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque & Monna " class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/k.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/k.jpg" alt="Ouïedire" title="Illustration : Monna" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/l.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/l.jpg" alt="Ouïedire" title="Illustration : Sophie Im" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/m.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/m.jpg" alt="Ouïedire" title="Illustration : Arthur Rivert
				" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/n.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/n.jpg" alt="Ouïedire" title="Illustration : Goupil Acneïque" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/o.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/o.jpg" alt="Ouïedire" title="Illustration :Pia Mélissa Laroche" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/p.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/p.jpg" alt="Ouïedire" title="Illustration : Klaten" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/q.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/q.jpg" alt="Ouïedire" title="Illustration : Max Parasite" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/r.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/r.jpg" alt="Ouïedire" title="Sophie Im" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/s.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/s.jpg" alt="Ouïedire" title="Goupil" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/t.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/t.jpg" alt="Ouïedire" title="Illustration : Sophie Im" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/v.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/v.jpg" alt="Ouïedire" title="Illustration : Goupil" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/x.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/x.jpg" alt="Ouïedire" title="Illustration : Z_Taueber" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/y.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/y.jpg" alt="Ouïedire" title="Illustration : Grenadine Vengeance" class="responsive"/>
			</a>
		</div>
		<div class="flyer">
			<a href="{{ app.request.getBasePath() }}/assets/img/flyer/w.jpg" >
				<img src="{{ app.request.getBasePath() }}/assets/img/flyer/w.jpg" alt="Ouïedire" title="Illustration : Blenno" class="responsive"/>
			</a>
		</div>
	</div>
</div>
{% endblock %}

{% block userscript %}
	<script src="{{ app.request.getBasePath() }}/vendor/andreknieriem-simplelightbox/dist/simple-lightbox.min.js?{{ app.assetsVersion }}"></script>
	<link rel="stylesheet" href="{{ app.request.getBasePath() }}/vendor/andreknieriem-simplelightbox/dist/simple-lightbox.min.css" />
	<script type="text/javascript">
		let gallery = new SimpleLightbox('.flyersContainer a');
	</script>
{% endblock %}
