{% extends "layout.default.twig.html" %}

{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }}
</a>
{% endblock %}

{% block title %}Flyers{% endblock %}
{% block flyer %} {% endblock %}

{% block content %}

<!-- <div class="grid-20 mobile-grid-100 flyer">
<ul>
	<li><a href="">Janvier 2015</a></li>
	<li><a href="">Février 2015</a></li>
	<li><a href="">Mars 2015</a></li>
</ul>

<p>Flyer par <a href="">Goupil Acnëique</a> <br />
 Illustration de : Liberatore, Stuntkid, </div>

 -->

<div class="centerdiv">
	<div class="grid-33 mobile-grid-33 flyer">
	<a href="{{ url('emissions')}}" >
		<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_mars.jpg" alt="Ouïedire" title="Consulter la liste des émissions disponibles" class="flyer"/>
	</a>
	</div>

	<div class="grid-33 mobile-grid-33 flyer">
	<a href="{{ url('emissions')}}" >
		<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_fevrier.jpg" alt="Ouïedire" title="Consulter la liste des émissions disponibles" class="flyer"/>
	</a>
	</div>

	<div class="grid-33 mobile-grid-33 flyer">
	<a href="{{ url('emissions')}}" >
		<img src="{{ app.request.getBasePath() }}/assets/img/flyer/fly_ouiedire_janvier.jpg" alt="Ouïedire"
		title="Consulter la liste des émissions disponibles" class="flyer"/>
	</a>
	</div>
</div>
{% endblock %}
