{% extends "layout.default.twig.html" %}

{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }} 
</a>
{% endblock %}

{% block title %}Jingle{% endblock %}
{% block jingle %} {% endblock %}

{% block content %}

<h3>Participez à la base de données collaborative de jingles Ouïedire !
</h3>
<p class="jingle-about"> 	

<strong>Pourquoi ?</strong> Pour qu’ils soient employés à l’envi par ceux qui réalisent des mixes pour le projet.
<br />
<strong>Comment ?</strong> C’est facile : il suffit de nous envoyer un MP3 qui dit “Ouïedire, j’en ai déjà entendu parler quelque part” et on l’ajoute à la base de données. Ça peut être du text to speech, du collage sonore, de l’enregistrement, peu importe !
<br />
Envoyez vos jingle au format MP3 à l'adresse suivante : <a href="mailto=jingle@ouiedire.net">jingle@ouiedire.net</a>
</p>

{% endblock %}