<!DOCTYPE html>
<html lang="fr">
<head>
	<!-- Description -->
	<title>{% block title %}{% endblock %} | Ouïedire</title>
	<meta name="description" content="Ouïedire, j'en ai déjà entendu parler quelque part" />

	<!-- Technical -->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ app.request.getBasePath() }}/assets/stylesheets/main.css" />
	<!--[if (gt IE 8) | (IEMobile)]><!-->
	<link rel="stylesheet" href="{{ app.request.getBasePath() }}/assets/stylesheets/unsemantic-grid-responsive.css" />
	<!--<![endif]-->
	<!--[if (lt IE 9) & (!IEMobile)]>
	<link rel="stylesheet" href="{{ app.request.getBasePath() }}/assets/stylesheets/ie.css" />
	<![endif]-->

	<!-- JavaScript -->
	<!--[if lt IE 9]>
	<script src="{{ app.request.getBasePath() }}/assets/javascripts/html5.js"></script>
	<![endif]-->
	
	<!-- Favicon -->
	<link rel="icon" href="{{ app.request.getBasePath() }}/assets/img/favicon.png" type="image/x-icon"/>

	<!-- Feeds -->
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/ouiedire_fr"/>
</head>

<body>

	<div class="grid-container">
		
		<header class="grid-100">
			<div class="grid-40 mobile-grid-100">
			<p>
				<a href="{{ url('emissions') }}">
					<img src="{{ app.request.getBasePath() }}/assets/img/logo.png" alt="Ouïedire" />
				</a>
				<br />
				<span>j'en ai déjà entendu parler quelque part</span>
			</p>
		</div>
		<div class="grid-60 mobile-grid-100">
			<h3>La dernière émission : </h3>
			<p>
				{% block latest %}
				LATEST SHOW
				{% endblock %}
			</p>
		</div>		
		</header>

		{% block content %}
		CONTENT
		{% endblock %}

		<footer class="grid-100">
			<p>
				<a href="mailto:contact@ouiedire.net">contact@ouiedire.net</a>
				<a href="">rss</a>
				<a href="http://www.musiques-incongrues.net/forum/shows/ouiedire/">forum</a>
				<a href="https://www.facebook.com/pages/Ou%C3%AFedire/35795699060">facebook</a>
			</p>
			<p>
				Le projet <a href="http://www.ouiedire.net">Ouïedire</a> est développé par <a href="http://www.constructions-incongrues.net">Constructions Incongrues</a> et est hébergé par <a href="http://www.pastis-hosting.net">Pastis Hosting</a>.
				<br />
				Le logo a été réalisé par Otro.
				Le code source est <a href="https://github.com/constructions-incongrues/">distribué</a> sous licence <a href="http://www.gnu.org/licenses/agpl.html">AGPL3</a>.
				<br />
			</p>
		</footer>
	</div> <!-- grid-container -->

	<!-- Google Analytics -->
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">_uacct="UA-673133-4";urchinTracker();</script>  
</body>
</html>