{% extends "layout.default.twig.html" %}



{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }}
</a>
{% endblock %}

{% block title %}Années ({{ years }}){% endblock %}

{% block content %}
<div class="grid-100 tablet-grid-100 mobile-grid-100">
	<div class="bloc center">
		<div class="infos">
			<span class="big"> 
				<a href="{{ url('emissions') }}" title="Voir la liste des {{ shows|length }} émissions">{{ shows|length }} émissions</a><span class="diamond"> &#11045; </span> 
				<a href="{{ url('artists') }}" title="Voir la liste des {{ artists|length }} artistes">{{ artists|length }} artistes </a><span class="diamond"> &#11045; </span>
			<a href="{{ url('djs') }}" title="Voir la liste des {{ djs|length }} curateurs">{{ djs|length }} curateurs</a><span class="diamond"> &#11045; </span> 
			{{ duration }} heures 				<span class="diamond"> &#11045; </span> 
			<a href="{{ url('flyers') }}" title="Voir les flyers">45 flyers</a> <span class="diamond"> &#11045; </span> 
			{{ years }} années 

			</span>
			<a href="{{ url('random') }}" title="Écouter une émission aléatoire" style="display: inline-block;float:right;padding:0px;margin:0;font-size:1.5em">
				<i class="icon-shuffle" style="color:#{% if app.request.cookies.get('night') %}959719{% else %}FCFE04{% endif %}"></i>
			</a>
		</div>
	</div>
</div>
<div class="grid-100 tablet-grid-100 mobile-grid-100">
	{% for year, shows in showsGroupedByYear %}    
		<h2 class="letter">{{ year }}</h2> 
		<div class="showContainer">
			<ul>
	        {% for show in shows %}
	            {% if loop.index0 == (loop.length / 1)|number_format %}{% endif %}
				<li class="show {{ show.typeSlug }}">
					<a href="{{ path('emission', {id:show.id, type:show.typeSlug}) }}" title="{{ show.authors }} - {{ show.title }} ({{ show.releasedAt|date('d/m/Y') }})">
						<strong>{{ show.number }}</strong> {{ show.authors }} - {{ show.title }}
					</a>
				</li>
	        {% endfor %}
			</ul>	
		</div>	
    {% endfor %}
</div>
{% endblock %}
