# Legacy redirections
# -- fr
RedirectMatch permanent /constructions-incongrues/net.ouiedire.www/fr/emissions/(\w+)/0?(\d+)/ http://localhost/constructions-incongrues/net.ouiedire.www/emission/$1-$2
RedirectPermanent /constructions-incongrues/net.ouiedire.www/fr/nouvelles/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/fr/emissions/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/fr/informations/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/fr/liens/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/fr/contact/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/fr/informations/plan-du-site/ http://localhost/constructions-incongrues/net.ouiedire.www/
# -- en
RedirectMatch permanent /constructions-incongrues/net.ouiedire.www/fr/show/ouiedire/0?(\d+)/ http://localhost/constructions-incongrues/net.ouiedire.www/emission/ouiedire-$1
RedirectMatch permanent /constructions-incongrues/net.ouiedire.www/fr/show/elsewhere/0?(\d+)/ http://localhost/constructions-incongrues/net.ouiedire.www/emission/ailleurs-$1
RedirectPermanent /constructions-incongrues/net.ouiedire.www/en/news/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/en/show/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/en/informations/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/en/links/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/en/contact/ http://localhost/constructions-incongrues/net.ouiedire.www/
RedirectPermanent /constructions-incongrues/net.ouiedire.www/en/informations/map/ http://localhost/constructions-incongrues/net.ouiedire.www/

# Misc
Options +FollowSymlinks -MultiViews

# Rewriting rules
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ app_prod.php [QSA,L]
</IfModule>