name: Nouvelle émission

on:
  workflow_dispatch:
    inputs:
      collection:
        type: choice
        default: Ailleurs
        options:
        - Ailleurs
        - Bagage
        - Bureau
        - Ouïedire
        required: true
      number:
        default: "666"
        required: true
        type: string
      title:
        type: string
        default: Est un secret bien gardé
      authors:
        type: string
        default: Préfèreraient rester anonymes

jobs:
  pull-request:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Scaffold
        uses: andrewthetechie/gha-cookiecutter@v1.1.1
        with:
          template: ./src/skel/emission
          outputDir: ./src/public/assets/emission
          cookiecutterValues: |
            {
              "collection": "${{ inputs.collection }}",
              "title": "${{ inputs.title }}",
              "number": "${{ inputs.number }}",
              "authors": "${{ inputs.authors }}"
            }
      - run: sudo chmod -R a+rw ./src/public/assets/emission
      - name: Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4.2.3
        with:
          body: |
            ## Et maintenant ?

            [Créer un espace de travail dédié](https://github.com/codespaces/new?hide_repo_select=true&ref=emission-${{ inputs.collection }}-${{ inputs.number }}&repo=9930817) et s'en servir pour effectuer les actions suivantes.

            - [ ] L'image de couverture par défaut a été remplacée
            - [ ] La description est à jour
            - [ ] La liste de lecture est à jour et bien formée
            - [ ] Les informations indiquées dans le manifeste sont exactes

            Une fois ceci fait et poussé sur la branche `${{ inputs.collection }}-${{ inputs.number }}`, on peut merger cette Pull Request.

            L'épisode est à présent visible dans la liste des émisions à l'adresse <https://www.ouiedire.net/?preview>.

            ## Finitions et publication

            En se rendant sur la page de l'émission on peut ensuite :
              - obtenir le nom de fichier attendu pour le MP3 en cliquant sur le bouton de téléchargement du morceau
              - uploader le fichier MP3 sur le serveur : https://vip.jeancloude.club/apps/files/files?dir=/ouiedire.net
              - rendre l'émission publique en cliquant sur le lien "EDIT" situé tout en bas de la page.

          branch: emission-${{ inputs.collection }}-${{ inputs.number }}
          commit-message: "Initialisation des fichiers nécessaire à partir du squelette d'émission"
          delete-branch: true
          draft: true
          assignees: ${{ github.actor }}
          title: "Nouvelle émission : ${{ inputs.collection }}-${{ inputs.number }}"
          token: ${{ secrets.GITHUB_TOKEN }}
